*.o
*.so
*.d.deps
*~
.Rhistory
.RData
IO/*.bin
CalcTM/calctm
CalcTM/calcprob
CalcTM/calctm2loc
CalcTM/countStates
CalcTM/calcprob2loc
CalcTM/calctm2locfull
CalcTM/countIndStates
Templates/generics
Templates/templates
CallD/calc_square_main
CallD/calc_squares_main
